<section class="hero">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column"></div>
                <div class="column is-four-fifths">
                    <div class="box">
                        <div class="columns is-multiline">
                            <div class="column is-12">
                                <div class="field is-flex is-justify-content-space-around">
                                    <div class="button is-rounded" (click)="buscar()" nz-tooltip
                                        nzTooltipTitle="Buscar">
                                        <span class="icon">
                                            <i class="fas fa-search"></i>
                                        </span>
                                    </div>
                                    <a class="button is-rounded is-primary" nz-tooltip nzTooltipTitle="Sincronizar">
                                        <span class="icon">
                                            <i class="fas fa-sync"></i>
                                        </span>
                                    </a>
                                    <a *ngIf="!data" class="button is-rounded is-info" disabled>
                                        <span class="icon is-small">
                                            <i class="fas fa-code"></i>
                                        </span>
                                    </a>
                                    <!-- <a *ngIf="data?.length>0" class="button is-rounded is-info" nz-tooltip
                                        nzTooltipTitle="Descargar JSON" [href]="downloadJsonHref"
                                        download="usuarios.json" [class.disabled]='data'>
                                        <span class="icon is-small">
                                            <i class="fas fa-code"></i>
                                        </span>
                                    </a> -->
                                    <a class="button is-rounded is-danger" nz-tooltip nzTooltipTitle="Descargar EXCEL">
                                        <span class="icon is-small">
                                            <i class="fas fa-file-excel"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="column"></div>
            </div>
        </div>
    </div>
</section>

<section class="hero">
    <div class="hero-body">
        <div class="container">
            <nz-table #basicTable [nzData]="data" [nzLoading]="loading" [nzShowPagination]='false'>
                <thead>
                    <tr>
                        <th *ngFor="let h of keys">
                            {{h}}
                        </th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of basicTable.data">
                        <td *ngFor="let h of keys">{{data[h]}}</td>
                        <td>
                            <!-- <button class="button is-warning">
                                <span class="icon is-small">
                                    <i class="fas fa-pencil-alt"></i>
                                </span>
                            </button> -->

                            <!-- <button class="button is-danger">
                                <span class="icon is-small">
                                    <i class="fas fa-trash-alt"></i>
                                </span>
                            </button> -->
                        </td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
    </div>
</section>