<section class="hero">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
            <div class="column"></div>
            <div class="column is-four-fifths">
              <div class="box">
                  <div class="columns is-multiline">
                    <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()" style="display: flex; width: 100%;">
                      <div class="column is-6">
                        <nz-form-item>
                          <nz-form-control nzErrorTip="Elija un rango de busqueda.">
                            <div class="field">
                              <label class="label">Rango de busqueda</label>
                              <div class="control">
                                  <nz-range-picker
                                  formControlName="rango"
                                  (ngModelChange)="onChange($event)"></nz-range-picker>
                              </div>
                          </div>
                          </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div class="column is-6">
                      <nz-form-item>
                        <nz-form-control nzErrorTip="Elija un mantenedor.">
                          <div class="field">
                            <label class="label">Mantenedor</label>
                            <div class="control">
                                <nz-select
                                formControlName="mantenedor"
                                style="width: 100%;" nzPlaceHolder="Seleccione el mantenedor">
                                    <nz-option *ngFor="let m of mantenedors" [nzValue]="m.idmantenedor" [nzLabel]="m.detallemantenedor"></nz-option>                                      
                                  </nz-select>
                            </div>
                        </div>
                        </nz-form-control>
                        </nz-form-item>
                    </div>
                    </form>
                      <div class="column is-12">
                          <p class="field is-flex is-justify-content-space-around">
                              <a class="button is-rounded" (click)="submitForm()">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                              </a>
                              <a class="button is-rounded is-primary" (click)="sincronizar()">
                                <span class="icon">
                                  <i class="fas fa-paper-plane"></i>
                                </span>
                              </a>
                              <a class="button is-rounded is-info">
                                <span class="icon is-small">
                                  <i class="fas fa-clipboard-check"></i>
                                </span>
                              </a>
                              <a class="button is-rounded is-danger">
                                <span class="icon is-small" nz-tooltip nzTooltipTitle="Descargar JSON">
                                  <i class="fas fa-file-code"></i>
                                </span>
                              </a>
                              <a class="button is-rounded is-warning" (click)="exportarExcel()" nz-tooltip nzTooltipTitle="Descargar EXCEL">
                                <span class="icon is-small">
                                  <i class="fas fa-file-excel"></i>
                                </span>
                              </a>
                            </p>
                      </div>
                  </div>
              </div>
  
            </div>
            <div class="column"></div>
        </div>
      </div>
    </div>
  </section>
  
  <nz-table #nzTable 
  [nzLoading]="loading"
  [nzData]="listOfDisplayData" nzTableLayout="fixed">
      <thead>
        <tr>
          <!-- <th nzCustomFilter>
            Codigo Empresa
            <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
              <i nz-icon nzType="search"></i>
            </nz-filter-trigger>
          </th> -->
          <th>Personal</th>
          <th>Inicio - Fin</th>
          <th>Pausas</th>
          <th>Turno</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of nzTable.data; let i=index">
          <td>{{ data.codigoempresa }}</td>
          <!-- <td>{{ data.codigoempresa }}</td> -->
          <td>{{ data.horaFormato }}</td>
          <td>{{ data.pausaFormato }}</td>
          <td>{{ data.estadoSap}}</td>
          <td>
            <a *ngIf="data?.estadosap!='T'" class="button is-rounded is-primary" (click)="goSincronizar(i)">
              <span class="icon">
                <i class="fas fa-paper-plane"></i>
              </span>
            </a>

                            <!-- <button class="button is-danger">
                                <span class="icon is-small">
                                    <i class="fas fa-trash-alt"></i>
                                </span>
                            </button> -->
          </td>
        </tr>
      </tbody>
    </nz-table>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="search-box">
          <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
          <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
            Search
          </button>
          <button nz-button nzSize="small" (click)="reset()">Reset</button>
        </div>
      </div>
    </nz-dropdown-menu>